


<div class="jumbotron">
  <h1 class="display-3">Bienvenue dans 'Le Club'</h1>
  <p class="lead">HAHAHA super blague oulàààà #keskonsemarre</p>
  <hr class="my-4">
  <p>T'façon tu peux pas accéder au site si tu t'inscris pas. Alors ?? KESTATTENDS ??</p>
  <p class="lead">
    <a class="btn btn-warning btn-lg" href="<%= new_user_path %>" role="button">Inscris toi ici</a>
    <a class="btn btn-success btn-lg" href="<%= login_path %>" role="button">Ou connecte toi là</a>
  </p>
</div>