</br>
<h1><strong>LE CLUUUUUUB ma gueule !!!</strong></h1>
<h3>Tous les membres hyper privates VIP secret </h3>
<p class="small">#trophype #jconnaisdesstars #EHMAIStoutlemondes'enballekENFAIT</p>
<br>


<div class="row">


  <% @all.each do |user| %>



  <div class="card-body">

  <h5 class="card-title"><strong>Utilisateur n°<%= user.id %></strong></h5>
    <p class="card-text mb-0"><%= user.first_name %> <%= user.last_name %></p>
      <p class="card-text mb-0"><em><%= user.email %></em></p><br>
  
  </div>



<% end %>

</div>


<a href="https://www.youtube.com/watch?v=Cf8AjqYX_AY" role="button" class="btn btn-warning btn-lg btn-block">SUPER VIP VIDEO ICI</a>






